* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-items {
    color: var(--neutral-00, #4D4D4D);
    font-family: "Instagram Sans Regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-items {
    color:  #999;
    font-family: "Instagram Sans Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-line {
    color: var(--neutral-00, #000);
    font-family: "Instagram Sans Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}